<!DOCTYPE html>
<html>
<head>
    <title>{{ user.name }}'s photos</title>
    <meta charset="utf-8" />
</head>
<body>
    <center>your photos</center>
    {{#each photos}}
        <b>{{ this.description }}:</b><img src="{{ this.path }}">
    {{/each}}
    <form method="POST" enctype="multipart/form-data">
        <input type='file' name='file'>
        <input type='text' name='description'>
        {{!-- подключение карт для координат?... --}}
        <input type='submit' name='submit' value="submit!">
    </form>
</body>